* {
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.top {
  min-height: 768px;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.contacts-info {
  width: 359px;
  padding: 44px 32px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.tris {
  width: 300px;
  height: 300px;
  margin-bottom: 16px;
}

.phoneclass {
  padding-bottom: 16px;
}

.h4-class {
  padding-top: 40px;
  padding-bottom: 24px;
}

.form {
  width: 540px;
  height: 800px;
  padding: 56px;
  box-sizing: border-box;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
}

.map {
  margin-left: 213px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.contacts-header {
  display: flex;
  align-items: center;
  height: 250px;
  margin-top: 54px;
  margin-bottom: 57px;
  background-image: url(img/Contact_us.png);
  background-repeat: no-repeat;
}

.footer_list {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  flex-grow: 1;
  flex-basis: 33.3333%;
  list-style-type: none;
  display: flex;
  margin-right: 32px;
}

.footer_copy {
  margin-top: 64px;
}

.main {
  display: flex;
  padding-left: 212px;
}

.project__img {
  width: 100%;
}

.project__parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.project__item {
  position: relative;
  flex-grow: 1;
}

.project__item_margin {
  margin-right: 32px;
}

.project__text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project__text_mini {
  right: auto;
  left: 32px;
  top: 32px;
  text-align: left;
}

.card-box {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card__img {
  align-self: center;
  margin-bottom: 51px;
}

.card {
  width: 359px;
  padding: 44px 32px;
  box-sizing: border-box;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.card__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.top__box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top_info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url(img/illustration.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 44%;
}

.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.top__text {
  width: 425px;
}

.text {
  letter-spacing: 0.05em;
  opacity: 0.6;
  color: #1f3f68;
  font-size: 16px;
  line-height: 26px;
}

.text_contacts {
  padding-top: 16px;
  padding-bottom: 49px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
}

.text_project {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.top_heading {
  width: 510px;
  font-size: 64px;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  color: #2b5080;
}

.heading-contacts {
  font-size: 44px;
  font-weight: 500;
  line-height: 74px;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-align: center;
  color: white;
}

.what-we-do {
  padding-top: 64px;
}

.heading {
  font-size: 36px;
  text-align: center;
}

.heading-mini {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  text-transform: uppercase;
}

.input-text {
  border: 1px solid #356ead;
  box-sizing: border-box;
  opacity: 0.4;
  border-radius: 10px;
  width: 428px;
  height: 72px;
  font-size: 24px;
  padding-left: 42px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.input-text-area {
  height: 144px;
}

.name-stroke {
  padding-bottom: 8px;
  padding-top: 30px;
}

.button-submit {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 117, 0.2);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  width: 428px;
  height: 72px;
  margin-top: 70px;
}

.footer {
  background: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
  margin-top: 112px;
}

.footer_top {
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer_text {
  width: 495px;
}

.footer__heading {
  width: 340px;
  text-align: left;
  color: #fff;
  margin-bottom: 32px;
}

.text_footer {
  color: #ffffff;
}

.footer__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 15px 80px;
  background: #5a98d0;
  text-decoration: none;
}

hr {
  opacity: 0.4;
}

.footer_copy-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .top_info {
    background-position: right 220px;
  }

  .card-box {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 32px;
  }

  .footer {
    padding-top: 48px;
  }

  .footer__button {
    padding: 4px 31px;
  }

  .footer__info {
    flex-direction: column;
  }

  .footer_list {
    margin-bottom: 24px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tris {
    padding-bottom: 64px;
  }

  .form {
    margin-top: 64px;
    margin-bottom: 64px;
    width: 520px;
    height: 780px;
  }

  .map {
    margin: 0 auto;
    padding: 0;
  }
}

@media (max-width: 667px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    padding-top: 24px;
    padding-left: 0;
  }

  .top {
    min-width: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;
  }

  .top_info {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    background-size: 44%;
  }

  .top_heading {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }

  .top__text {
    width: 100%;
    text-align: center;
  }

  .top__button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }

  .heading {
    font-size: 24px;
    line-height: 28px;
  }

  .what-we-do {
    padding-top: 48px;
  }

  .card-box {
    padding-top: 32px;
  }

  .card {
    width: 100%;
  }

  .text_project {
    width: 100%;
  }

  .project__text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }

  .project__text_mini {
    left: 16px;
  }

  .project__parent {
    flex-direction: column;
    margin-top: 16px;
  }

  .project__item_margin {
    margin: 0;
    margin-bottom: 16px;
  }

  .footer {
    padding-top: 18px;
    padding-bottom: 32px;
  }

  .footer_top {
    flex-direction: column;
    padding-bottom: 41px;
  }

  .footer_text {
    width: 100%;
  }

  .footer__heading {
    width: 75%;
    margin: 0 auto 32px;
    text-align: center;
  }

  .text_footer {
    text-align: center;
    margin-bottom: 40px;
  }

  .foter_copy {
    margin-top: 32px;
  }

  .top__contacts {
    box-sizing: border-box;
    min-width: 376px;
  }

  .header__contacts {
    padding-top: 15px;
  }

  .contacts-header {
    margin-top: 30px;
    margin-bottom: 46px;
  }

  .contacts-info {
    padding: 0 32px;
  }

  .tris {
    padding-bottom: 32px;
  }

  .h4-class {
    padding-top: 32px;
  }

  .form {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 342px;
    height: 514px;
  }

  .input-text {
    width: 271px;
    height: 46px;
    font-size: 14px;
  }

  .name-stroke {
    padding-bottom: 5px;
    padding-top: 21px;
  }

  .heading-mini {
    font-size: 16px;
  }

  .button-submit {
    width: 271px;
    height: 46px;
    margin-top: 36px;
  }

  .map {
    padding-left: 16px;
    padding-right: 16px;
  }
}
